html, body {
    height: 100%;
    background: linear-gradient(blue,black);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

* {
    padding: 0;
    margin: 0;
}

a {
    color: aliceblue;
}

a:active {
    color: aqua;
}

#grid-index {
    display: grid;
    height: 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 0.5%;
}

@media screen and (max-width: 599px) {
    #grid-index {
        display: grid;
        height: 100%;
        grid-template-areas: 
            "header"
            "main"
            "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-row-gap: 0.5%;
    }
}

header {
    grid-area: header;
    width: 100%;
    padding: 0.3%;
}

main {
    grid-area: main;
    padding-top: 1%;
    padding: 1%;
    align-self: center;
    justify-self: center;
    border: solid 2px aliceblue;
    color: aliceblue;
}

footer {
    grid-area: footer;
}

.index-encabezado {
    display: flex;
    flex-direction: row;
    border: 1px solid aliceblue;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    text-decoration: double;
    flex-wrap: wrap;
}

.index-nav-texto {
    font-style: bold;
    font-size: larger;
}

.index-pie {
    display: flex;
    justify-content: space-around;
    padding: 0.5%;
    color: aliceblue;
    flex-wrap: wrap;
    font-size: 12px;
    align-items: center;
}

.index-imagen-textos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.index-textos-laterales {
    border: solid 1px aliceblue;
    margin-left: 00.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 00.5%;
    width: 55%;
}
